.list-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.textField{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

.btn{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    font-size: 15px;
}

.btnD{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    font-size: 15px;
    
}
.List{
    list-style: none;
    width: 50%;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #E1AFD1;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.item{
    margin-left: 30px;
}